$black-color:#000;
$white-color:#fff;
$blue-color:#171c2e;   
$blue-text:#1b80e7;
$red:#fd4747;
$darkblue-color:#151825;
$yellow-color:#ff9c00;
$color-8a:#8a8888;
$color-89:#898888;
$color-f9:#f9f9f9;
$color-f7:#f7f7f7;
$color-fb:#3b5998;
$color-42:#424242; 
$color-80:#808080;
$color-e21:#e2e1e1;
$color-db:#dbdbdb;
$color-28:#282828;
$color-cc:#cccccc;
$color-ee:#eeeeee;
$color-e8:#e8e8e8;
$color-f8:#f8f8f8;
$color-e3:#e3e3e3;
$transparent-color:transparent;


$family: 'Open Sans', sans-serif;
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;