.account-outer{
	.acc-inner{
		background-color: $white-color;
		padding: 40px;
		margin-bottom:15px;
		@media screen and (max-width:1200px){
			padding: 20px;
		}
		h4{
			@include text-format(22px,$color-42,600);
			margin:15px 0; 
			@media screen and (max-width:1200px){
				font-size: 18px;
			}
			.down-arow{
				font-size: 14px;
				cursor: pointer;
			}
		}		
	}
}